fastapi
uvicorn[standard]
python-dotenv>=1.0.0
pydantic>=2.6.0
pydantic-settings
streamlit>=1.32.0
presidio-analyzer>=2.2.354
spacy>=3.7.0
pandas>=2.2.0
requests>=2.31.0
pyyaml>=6.0.1
pymupdf
pdfplumber>=0.10.3
python-docx>=1.1.0
python-pptx
openpyxl
beautifulsoup4
lxml
striprtf
google-api-python-client>=2.120.0
google-auth>=2.28.0
google-auth-httplib2>=0.2.0
httplib2>=0.22.0
pytest
requests
